<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  <%= @category_title %>
  <span class="caret"></span>
</button>
<ul class="dropdown-menu">
  <li> <%= categorize nil, "カテゴリー未選択" %> </li>
  <li> <%= categorize :japanese, @category_keys[:japanese] %> </li>
  <li> <%= categorize :english, @category_keys[:english] %> </li>
  <li> <%= categorize :kpop, @category_keys[:kpop] %> </li>
  <li> <%= categorize :category_else, @category_keys[:category_else] %> </li>
</ul>
