<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  <%= @genre_title %>
  <span class="caret"></span>
</button>
<ul class="dropdown-menu">
  <li> <%= genrize nil, "ジャンル未選択" %> </li>
  <li> <%= genrize :pops, @genre_keys[:pops] %> </li>
  <li> <%= genrize :rock, @genre_keys[:rock] %> </li>
  <li> <%= genrize :hiphop, @genre_keys[:hiphop] %> </li>
  <li> <%= genrize :anime, @genre_keys[:anime] %> </li>
  <li> <%= genrize :ballade, @genre_keys[:ballade] %> </li>
  <li> <%= genrize :folk, @genre_keys[:folk] %> </li>
  <li> <%= genrize :lovesong, @genre_keys[:lovesong] %> </li>
  <li> <%= genrize :jazz, @genre_keys[:jazz] %> </li>
  <li> <%= genrize :instrumental, @genre_keys[:instrumental] %> </li>
  <li> <%= genrize :RB, @genre_keys[:RB] %> </li>
  <li> <%= genrize :genre_else, @genre_keys[:genre_else] %> </li>
</ul>
