<div class="page">
  <% @topics.each do |topic| %>
    <div class="topic-unit col-md-3 pull-left">
      <div class="col-md-12 thumbnail-wrapper" >
        <%= image_tag topic.image.url, class: 'img-responsive topic-thumbnail' %>
      </div>
      <div class="col-md-12">
        <div class="title">
          <%= link_to detail_path(id: topic.id) do %>
            <%= topic.title %>
          <% end %>
        </div>
        <div class="name">
          by <%= link_to topic.user.name, users_path(id: topic.user) %>
        </div>
        <div class="evaluation">
          いいね！ <span id="good_count_<%= topic.id %>"><%= topic.counter.good_count %></span>　|　マイナー！ <span id="minor_count_<%= topic.id %>"><%= topic.counter.minor_count %></span>
        </div>
        <div class="evaluate-button">
          <span id="good_<%= topic.id %>">
            <%= render partial: "topics/good", locals: {topic: topic} %>
          </span>
          <span id="minor_<%= topic.id %>">
            <%= render partial: "topics/minor", locals: {topic: topic} %>
          </span>
          <span id="bookmark_<%= topic.id %>">
            <%= render partial: "topics/bookmark", locals: {topic: topic} %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>
