<div class="page">
  <% @topics.each do |topic| %>
    <div class="topic-unit col-xs-12 col-md-3">
      <div class="col-xs-12 col-md-12 thumbnail-wrapper" >
        <div class="mask">
          <%= link_to detail_path(id: topic.id) do %>
            <%= image_tag topic.image.url, class: 'img-responsive topic-thumbnail' %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-md-12">
        <div class="title">
          <%= link_to topic.title, detail_path(id: topic.id), class: 'title-text'%>
        </div>
        <div class="name">
          <span class="name-text">by</span> <%= link_to topic.user.name, users_path(id: topic.user), class: 'name-text' %>
        </div>
        <div class="evaluation">
          いいね！ <span id="good_count_<%= topic.id %>"><%= topic.counter.good_count %></span>　|　マイナー！ <span id="minor_count_<%= topic.id %>"><%= topic.counter.minor_count %></span>
        </div>
        <div class="evaluate-button">
          <span id="good_<%= topic.id %>">
            <%= render partial: "topics/good", locals: {topic: topic} %>
          </span>
          <span id="minor_<%= topic.id %>">
            <%= render partial: "topics/minor", locals: {topic: topic} %>
          </span>
          <span id="bookmark_<%= topic.id %>">
            <%= render partial: "topics/bookmark", locals: {topic: topic} %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>
