<% @rises.each do |rise| %>
  <div class="row rise-unit">
    <div class="pull-left">
      <%= image_tag rise.image.url, class: 'img-responsive rise-thumbnail' %>
    </div>
    <div class="pull-left">
      <div class="title">
        <%= link_to detail_path(id: rise.id) do %>
            <%= rise.title %>
        <% end %>
      </div>
      <div class="evaluation">
        <div>
          いいね！ <span><%= rise.counter.good_count %></span>　|　マイナー！ <span><%= rise.counter.minor_count %></span>
        </div>
      </div>
    </div>
  </div>
<% end %>
