<% @rises.each do |rise| %>
  <div class="topic-unit col-xs-12 col-md-3 pull-left">
    <div class="col-xs-12 col-md-12 thumbnail-wrapper" >
      <div class="mask">
        <%= link_to detail_path(id: rise.id) do %>
          <%= image_tag rise.image.url, class: 'img-responsive topic-thumbnail' %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-md-12">
      <div class="title">
        <%= link_to rise.title, detail_path(id: rise.id), class: 'title-text' %>
      </div>
      <div class="name">
        <span class="name-text">by</span> <%= link_to rise.user.name, users_path(id: rise.user), class: 'name-text' %>
      </div>
      <div class="evaluation">
        いいね！ <span><%= rise.counter.good_count %></span>　|　マイナー！ <span><%= rise.counter.minor_count %></span>
      </div>
    </div>
  </div>
<% end %>
