<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  <%= @sort_title %>
  <span class="caret"></span>
</button>
<ul class="dropdown-menu">
  <li> <%= sortable "created_at", "desc", "投稿日時が新しい" %> </li>
  <li> <%= sortable "created_at", "asc", "投稿日時が古い" %> </li>
  <li> <%= sortable "good_count", "desc", "いいね！が多い" %> </li>
  <li> <%= sortable "good_count", "asc", "いいね！が少ない" %> </li>
  <li> <%= sortable "minor_count", "desc", "レア！が多い" %> </li>
  <li> <%= sortable "minor_count", "asc", "レア！が少ない" %> </li>
</ul>
