<div class="detail-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-4">
          <%= image_tag @topic.image.url, class: 'img-responsive' %>
        </div>
        <div class="col-md-8 detail-contents">
          <div class="col-md-12 detail-title">
            <p><%= @topic.title %></p>
          </div>
          <div class="col-md-12 info">
            by　
            <%= link_to @topic.user.name, users_path(id: @topic.user) %>
            　|　いいね！ <span id="good_count_<%= @topic.id %>"><%= @topic.counter.good_count %></span>　|　マイナー！ <span id="minor_count_<%= @topic.id %>"><%= @topic.counter.minor_count %></span>
            <% if @topic.user == current_user %>
              <div class="detail-evaluate-button">
              　<span class="line">|　</span>
                <span>
                  <%= link_to '編集する', edit_topic_path(id: @topic.id), class: 'btn btn-link edit-link' %>
                </span>
              </div>
            <% else %>
              <div class="detail-evaluate-button">
                <span class="line">　|　</span>
                    <span id="good_<%= @topic.id %>">
                      <%= render partial: "topics/good", locals: {topic: @topic} %>
                    </span>
                    <span id="minor_<%= @topic.id %>">
                      <%= render partial: "topics/minor", locals: {topic: @topic} %>
                    </span>
                    <span id="bookmark_<%= @topic.id %>">
                      <%= render partial: "topics/bookmark", locals: {topic: @topic} %>
                    </span>
              </div>
            <% end %>
          </div>
          <div class="col-md-12 info">
            <div class="category">カテゴリー： <%= @topic.category_i18n %></div>
            <div class="genre">ジャンル： <%= @topic.genre_i18n %></div>
          </div>
          <div class="col-md-12 description">
            <p><%= @topic.description %></p>
          </div>
        </div>
        <div class="col-md-12 text-left comment-count">
          <h4>コメント<span id="comment-count"><%= @topic.counter.comment_count %></span>件</h4>
        </div>
        <div class="col-md-12 comment-form">
          <% if user_signed_in? %>
            <%= form_for @comment, url: comments_path, remote: true do |f| %>
              <%= hidden_field_tag :topic_id, @topic.id %>
              <%= f.hidden_field :topic_id, :value => @topic.id %>
              <div class="input-group">
                <%= f.text_field :text, class: 'form-control', id: "comment-form" %>
                <span class="input-group-btn">
                  <%= f.submit 'コメントする', class: 'btn btn-default' %>
                </span>
              </div>
            <% end %>
          <% else %>
            <%= link_to 'ログインしてコメントする', new_user_session_path(login: ''), class: 'btn btn-default col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2' %>
          <% end %>
        </div>
        <div id="comments" class="col-md-12 pages">
          <%= render partial: "topics/comment" %>
          <%= paginate @comments %>
        </div>
      </div>
    </div>
  </div>
</div>
