<div class="detail-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <% if !logged_in? || logged_in? && @topic.user.id != current_user.id %>
          by　<%= link_to @topic.user.name, users_path(id: @topic.user.id) %>
        <% else %>
          by　Myself
        <% end %>
          いいね！ <span id="count_goods_<%= @topic.id %>"><%= @topic.goods.count %></span>　|　マイナー！ <span id="count_minors_<%= @topic.id %>"><%= @topic.minors.count %></span>
      </div>
      <% if logged_in? && @topic.user.id != current_user.id %>
        <div class="col-md-6 col-md-offset-3">
          <span id="good_<%= @topic.id %>">
            <%= render partial: "topics/good", locals: {topic: @topic} %>
          </span>
          <span id="minor_<%= @topic.id %>">
            <%= render partial: "topics/minor", locals: {topic: @topic} %>
          </span>
          <span id="bookmark_<%= @topic.id %>">
            <%= render partial: "topics/bookmark", locals: {topic: @topic} %>
          </span>
        </div>
      <% end %>
      <div class="col-md-6 col-md-offset-3">
        <%= @topic.title %>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <%= image_tag @topic.image.url, class: 'img-responsive' %>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <%= @topic.description %>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <h2>コメント</h2>
      </div>
      <% if logged_in? %>
        <div class="col-md-6 col-md-offset-3">
          <%= form_for @comment, url: comments_path do |f| %>
            <%= f.hidden_field :topic_id, :value => @topic.id %>
            <%= f.text_field :text %>
            <%= f.submit 'コメントする'%>
          <% end %>
        </div>
      <% end %>
      <%= @comments.where(topic_id: @topic.id).each do |comment| %>
        <div class="col-md-6 col-md-offset-3">
          <%= comment.text %>
        </div>
      <% end %>
    </div>
  </div>
</div>
