<div class="index-topics-wrapper">
  <div class="container">
    <div class="col-md-1 col-md-offset-4 dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= @title %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li> <%= sortable "created_at", "desc", "投稿日時が新しい" %> </li>
        <li> <%= sortable "created_at", "asc", "投稿日時が古い" %> </li>
        <li> <%= sortable "good_count", "desc", "いいね！が多い" %> </li>
        <li> <%= sortable "good_count", "asc", "いいね！が少ない" %> </li>
        <li> <%= sortable "minor_count", "desc", "マイナー！が多い" %> </li>
        <li> <%= sortable "minor_count", "asc", "マイナー！が少ない" %> </li>
        <li> <%= sortable "bookmark_count", "desc", "ブックマークが多い" %> </li>
        <li> <%= sortable "bookmark_count", "asc", "ブックマークが少ない" %> </li>
        <li> <%= sortable "comment_count", "desc", "コメントが多い" %> </li>
        <li> <%= sortable "comment_count", "asc", "コメントが少ない" %> </li>
      </ul>
    </div>
    <%= form_tag topics_path, method: :get do %>
      <div class="row">
        <%= text_field_tag :keyword, @keyword, class: 'col-md-2 col-md-offset-1', placeholder: ''%>
        <%= submit_tag '検索', class: 'col-md-1' %>
      </div>
    <% end %>
    <% @topics.each do |topic| %>
      <div class="row topic-unit">
        <div class="pull-left col-md-2 col-md-offset-6">
          <%= image_tag topic.image.url, class: 'img-responsive' %>
        </div>
        <div class="pull-right col-md-4">
          <div>
            <%= link_to detail_path(id: topic.id) do %>
                <%= topic.title %>
            <% end %>
          </div>
          <div>
            by
            <% if !logged_in? || logged_in? && topic.user != current_user %>
              <%= link_to topic.user.name, users_path(id: topic.user) %>
            <% else %>
              Myself
            <% end %>
          </div>
          <div>
            いいね！ <span id="good_count_<%= topic.id %>"><%= topic.counter.good_count %></span>　|　マイナー！ <span id="minor_count_<%= topic.id %>"><%= topic.counter.minor_count %></span>
          </div>
          <% if logged_in? && topic.user != current_user %>
            <div>
              <span id="good_<%= topic.id %>">
                <%= render partial: "topics/good", locals: {topic: topic} %>
              </span>
              <span id="minor_<%= topic.id %>">
                <%= render partial: "topics/minor", locals: {topic: topic} %>
              </span>
              <span id="bookmark_<%= topic.id %>">
                <%= render partial: "topics/bookmark", locals: {topic: topic} %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
