<div class="index-topics-wrapper">
  <div class="container">
    <div class="row col-md-5 col-md-offset-1">
      <div class="col-md-12 text-center">
        <h3>急上昇</h3>
      </div>
      <div class="rises col-md-12">
        <%= render partial: "topics/rise" %>
      </div>
    </div>
    <div class="row col-md-6">
      <div class="col-md-5 dropdown">
        <%= render partial: "topics/sort" %>
      </div>
      <div class="col-md-6">
        <%= form_tag topics_path, method: :get do %>
          <%= text_field_tag :keyword, @keyword, placeholder: ''%>
          <%= submit_tag '検索' %>
        <% end %>
      </div>
      <div class="pages col-md-12">
        <%= render partial: "topics/page" %>
        <%= paginate @topics %>
      </div>
    </div>
  </div>
</div>
