<div class="index-topics-wrapper">
  <div class="container">
    <div class="row search-contents">
      <div class="col-md-5 col-md-offset-1">
        <div class="col-md-6">
          <%= render partial: "topics/category" %>
        </div>
        <div class="col-md-6">
          <%= render partial: "topics/genre" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-6">
          <%= render partial: "topics/search" %>
        </div>
        <div class="col-md-6 dropdown">
          <%= render partial: "topics/sort" %>
        </div>
      </div>
    </div>
    <div class="row rises-wrapper">
      <div class="rises-contents">
        <div class="row text-center">
          <h5>急上昇トピック</h5>
        </div>
        <div class="row">
          <%= render partial: "topics/rise" %>
        </div>
      </div>
    </div>
    <div class="row topics-wrapper">
      <div class="row pages topics-contents">
        <%= render partial: "topics/page" %>
        <%= paginate @topics %>
      </div>
    </div>
  </div>
</div>
