<div class="index-topics-wrapper">
  <div class="container">
    <div class="col-md-1 col-md-offset-4 dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= @title %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li> <%= sortable "created_at", "desc", "投稿日時が新しい" %> </li>
        <li> <%= sortable "created_at", "asc", "投稿日時が古い" %> </li>
        <li> <%= sortable "good_count", "desc", "いいね！が多い" %> </li>
        <li> <%= sortable "good_count", "asc", "いいね！が少ない" %> </li>
        <li> <%= sortable "minor_count", "desc", "マイナー！が多い" %> </li>
        <li> <%= sortable "minor_count", "asc", "マイナー！が少ない" %> </li>
        <li> <%= sortable "bookmark_count", "desc", "ブックマークが多い" %> </li>
        <li> <%= sortable "bookmark_count", "asc", "ブックマークが少ない" %> </li>
        <li> <%= sortable "comment_count", "desc", "コメントが多い" %> </li>
        <li> <%= sortable "comment_count", "asc", "コメントが少ない" %> </li>
      </ul>
    </div>
    <%= form_tag topics_path, method: :get do %>
      <div class="row">
        <%= text_field_tag :keyword, @keyword, class: 'col-md-2 col-md-offset-1', placeholder: ''%>
        <%= submit_tag '検索', class: 'col-md-1' %>
      </div>
    <% end %>
    <div class="pages">
      <%= render partial: "topics/page" %>
      <%= paginate @topics %>
    </div>
  </div>
</div>
