<div class="index-topics-wrapper">
  <div class="container">
    <div class="row">
      <div class="search-contents col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <%= render partial: "topics/search" %>
          </div>
        </div>
        <div class="row">
          <div class="search-btn col-xs-12 col-sm-3 col-md-3 col-lg-2">
            <%= render partial: "topics/category" %>
          </div>
          <div class="search-btn col-xs-12 col-sm-3 col-md-3 col-lg-2">
            <%= render partial: "topics/genre" %>
          </div>
          <div class="search-btn col-xs-12 col-sm-3 col-md-3 col-lg-2">
            <%= render partial: "topics/sort" %>
          </div>
        </div>
        <div class="border"></div>
      </div>
    </div>
    <div class="row topics-wrapper">
      <div class="col-md-10 col-md-offset-1 pages topics-contents">
        <h3 class="head">検索結果</h3>
        <div class="row">
          <%= render partial: "topics/page" %>
          <%= paginate @topics %>
        </div>
      </div>
    </div>
  </div>
</div>
