<% @bookmark_topics.each do |bookmark_topic| %>
  <div class="row col-md-6 col-md-offset-3 topic-unit">
    <div class="pull-left col-md-6">
      <%= image_tag bookmark_topic.image.url, class: 'img-responsive' %>
    </div>
    <div class="pull-left col-md-6">
      <div>
        <%= link_to detail_path(id: bookmark_topic.id) do %>
            <%= bookmark_topic.title %>
        <% end %>
      </div>
      <div>
        いいね！ <span id="count_goods_<%= bookmark_topic.id %>"><%= bookmark_topic.good_users.count %></span>　|　マイナー！ <span id="count_minors_<%= bookmark_topic.id %>"><%= bookmark_topic.minor_users.count %></span>
      </div>
    </div>
  </div>
<% end %>
