<div class="page">
  <% @bookmark_topics.each do |bookmark_topic| %>
    <div class="topic-unit col-xs-12 col-sm-4 col-md-3 pull-left">
      <div class="col-md-12 thumbnail-wrapper">
        <div class="mask">
          <%= link_to detail_path(id: bookmark_topic.id) do %>
            <%= image_tag bookmark_topic.image.url, class: 'img-responsive topic-thumbnail' %>
          <% end %>
        </div>
      </div>
      <div class="col-md-12">
        <div class="title">
          <%= link_to bookmark_topic.title, detail_path(id: bookmark_topic.id), class: 'title-text'%>
        </div>
        <div class="name">
          <span class="name-text">by</span> <%= link_to bookmark_topic.user.name, users_path(id: bookmark_topic.user), class: 'name-text' %>
        </div>
        <div class="evaluation">
          いいね！ <span id="good_count_<%= bookmark_topic.id %>"><%= bookmark_topic.counter.good_count %></span>　|　レア！ <span id="minor_count_<%= bookmark_topic.id %>"><%= bookmark_topic.counter.minor_count %></span>
        </div>
        <div class="evaluate-button">
          <span id="good_<%= bookmark_topic.id %>">
            <%= render partial: "topics/good", locals: {topic: bookmark_topic} %>
          </span>
          <span id="minor_<%= bookmark_topic.id %>">
            <%= render partial: "topics/minor", locals: {topic: bookmark_topic} %>
          </span>
          <span id="bookmark_<%= bookmark_topic.id %>">
            <%= render partial: "topics/bookmark", locals: {topic: bookmark_topic} %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>
