<div class="page">
  <% @following_users.each do |following_user| %>
    <div class="row col-md-4 col-md-offset-4 topic-unit">
      <div class="pull-left">
        <%= image_tag following_user.profile.image.url, class: 'img-responsive icon list-icon' %>
      </div>
      <div class="pull-left">
        <div class="title">
          <%= link_to users_path(id: following_user) do %>
              <%= following_user.name %>
          <% end %>
        </div>
        <div class="evaluation">
          投稿<%= following_user.topics.count %>件　フォロワー <span id="count_follows_<%= following_user.id %>"><%= following_user.follows.count %></span>　フォロー <span><%= Follow.where(follower_id: following_user).count %></span>
        </div>
        <% if logged_in? && following_user != current_user %>
          <div class="evaluate-button" id="follow_<%= following_user.id %>">
            <%= render partial: "users/follow", locals: {user: following_user} %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
