<div class="page">
  <% @post_topics.each do |post_topic| %>
    <div class="topic-unit col-xs-12 col-md-3 pull-left">
      <div class="col-md-12 thumbnail-wrapper">
        <%= link_to detail_path(id: post_topic.id) do %>
          <%= image_tag post_topic.image.url, class: 'img-responsive topic-thumbnail' %>
        <% end %>
      </div>
      <div class="col-md-12">
        <div class="title">
          <%= link_to detail_path(id: post_topic.id) do %>
            <%= post_topic.title %>
          <% end %>
        </div>
        <div class="name">
          by <%= link_to post_topic.user.name, users_path(id: post_topic.user) %>
        </div>
        <div class="evaluation">
          いいね！ <span id="good_count_<%= post_topic.id %>"><%= post_topic.counter.good_count %></span>　|　マイナー！ <span id="minor_count_<%= post_topic.id %>"><%= post_topic.counter.minor_count %></span>
        </div>
        <div class="evaluate-button">
          <span id="good_<%= post_topic.id %>">
            <%= render partial: "topics/good", locals: {topic: post_topic} %>
          </span>
          <span id="minor_<%= post_topic.id %>">
            <%= render partial: "topics/minor", locals: {topic: post_topic} %>
          </span>
          <span id="bookmark_<%= post_topic.id %>">
            <%= render partial: "topics/bookmark", locals: {topic: post_topic} %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>
