<div class="page">
  <% @post_topics.each do |post_topic| %>
    <div class="row col-md-6 col-md-offset-3 topic-unit">
      <div class="pull-left">
        <%= image_tag post_topic.image.url, class: 'img-responsive post-topic-thumbnail' %>
      </div>
      <div class="pull-left">
        <div class="title">
          <%= link_to detail_path(id: post_topic.id) do %>
              <%= post_topic.title %>
          <% end %>
        </div>
        <div class="evaluation">
          いいね！ <span id="good_count_<%= post_topic.id %>"><%= post_topic.counter.good_count %></span>　|　マイナー！ <span id="minor_count_<%= post_topic.id %>"><%= post_topic.counter.minor_count %></span>
        </div>
        <div class="evaluate-button">
          <span id="good_<%= post_topic.id %>">
            <%= render partial: "topics/good", locals: {topic: post_topic} %>
          </span>
          <span id="minor_<%= post_topic.id %>">
            <%= render partial: "topics/minor", locals: {topic: post_topic} %>
          </span>
          <span id="bookmark_<%= post_topic.id %>">
            <%= render partial: "topics/bookmark", locals: {topic: post_topic} %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>
