<div class="index-users-wrapper">
  <div class="container">
    <div class="row">
      <div class="pull-left col-md-2 col-md-offset-1">
        <%= image_tag @profile.image.url, class: 'img-responsive' %>
      </div>
      <div class="pull-right col-md-9">
        <div>
          <%= @user.name %>
        </div>
        <div>
          投稿<%= @post_topics_count %>件　フォロワー <span id="count_follows_<%= @user.id %>"><%= @user_followers_count %></span>　フォロー <span><%= @user_follows_count %></span>
        </div>
        <div>
          <%= @profile.introduce %>
        </div>
        <% if @user == current_user %>
          <div>
            <%= link_to "プロフィールを編集", profiles_edit_path %>
          </div>
        <% else %>
          <div id="follow_<%= @user.id %>">
            <%= render partial: "users/follow", locals: {user: @user} %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row col-md-10 col-md-offset-1 text-center list-header">
      <div class="row">
        <div class="col-md-4">
          <%= link_to '投稿', list_path(template: 'post_topic', id: @user.id), method: :get, remote: true %>
        </div>
        <div class="col-md-4">
          <%= link_to '保存', list_path(templete: 'bookmark_topic', id: @user.id), method: :get, remote: true %>
        </div>
        <div class="col-md-4">
          <%= link_to 'フォロー', list_path(templete: 'follow_user', id: @user.id), method: :get, remote: true %>
        </div>
      </div>
    </div>
    <div class="row col-md-10 col-md-offset-1 bar-wrapper">
      <div id="bar" class="row">
        <%= render partial: "users/bar", locals: {templete: @templete} %>
      </div>
    </div>
    <div id="list-contents">
      <%= render partial: "users/post_topic" %>
    </div>
  </div>
</div>
