<div class="index-users-wrapper">
  <div class="container">
    <div class="row user-info">
      <div class="pull-left col-md-2 col-md-offset-2">
        <%= image_tag @profile.image.url, class: 'img-responsive icon mypage-icon' %>
      </div>
      <div class="pull-left col-md-6">
        <div class="name">
          <%= @user.name %>
        </div>
        <div class="evaluation">
          投稿<%= @post_topics_count %>件　フォロワー <span id="count_follows_<%= @user.id %>"><%= @user_followers_count %></span>　フォロー <span><%= @user_followings_count %></span>
        </div>
        <div class="introduce">
          <%= @profile.introduce %>
        </div>
        <% if @user == current_user %>
          <div class="edit-button">
            <%= link_to "プロフィールを編集", profiles_edit_path %>
          </div>
        <% elsif logged_in? %>
          <div class="evaluate-button" id="follow_<%= @user.id %>">
            <%= render partial: "users/follow", locals: {user: @user} %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row col-md-10 col-md-offset-1 text-center list-header">
      <div class="row">
        <div class="col-md-4">
          <%= link_to '投稿', users_path(template: 'post_topic', id: @user) %>
        </div>
        <div class="col-md-4">
          <%= link_to '保存', users_path(templete: 'bookmark_topic', id: @user) %>
        </div>
        <div class="col-md-4">
          <%= link_to 'フォロー', users_path(templete: 'follow_user', id: @user) %>
        </div>
      </div>
    </div>
    <div class="row col-md-10 col-md-offset-1 bar-wrapper">
      <div id="bar" class="row">
        <%= render partial: "users/bar", locals: {templete: @templete} %>
      </div>
    </div>
    <div id="list-contents" class="pages">
      <%= render partial: "users/list_contents" %>
    </div>
  </div>
</div>
