<div class="index-users-wrapper">
  <div class="container">
    <div class="row">
      <div class="pull-left col-md-2 col-md-offset-1">
        <%= image_tag @profile.image.url, class: 'img-responsive' %>
      </div>
      <div class="pull-right col-md-9">
        <div>
          <%= @user.name %>
        </div>
        <div>
          投稿<%= @post_topics_count %>件　フォロワー <span id="count_follows_<%= @user.id %>"><%= @user_followers_count %></span>　フォロー <span id="count_follows_<%= @user.id %>"><%= @user_follows_count %></span>
        </div>
        <div>
          <%= @profile.introduce %>
        </div>
        <% if @user == current_user %>
          <div>
            <%= link_to "プロフィールを編集", profiles_edit_path %>
          </div>
        <% else %>
          <div id="follow_<%= @user.id %>">
            <%= render partial: "users/follow", locals: {user: @user} %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row col-md-10 col-md-offset-1 text-center list-header">
      <div class="row">
        <div class="col-md-4">
          <p>投稿</p>
        </div>
        <div class="col-md-4">
          <p>保存済み</p>
        </div>
        <div class="col-md-4">
          <p>フォロー</p>
        </div>
      </div>
    </div>
    <div class="row col-md-10 col-md-offset-1 bar-wrapper">
      <div class="row">
        <div class="col-md-4 bar-unit"></div>
        <div class="col-md-4 bar-unit"></div>
        <div class="col-md-4 bar-unit"></div>
      </div>
    </div>
    <div class="list-contents">
      <% @post_topics.each do |post_topic| %>
        <div class="row col-md-6 col-md-offset-3 topic-unit">
          <div class="pull-left col-md-6">
            <%= image_tag post_topic.image.url, class: 'img-responsive' %>
          </div>
          <div class="pull-left col-md-6">
            <div>
              <%= link_to detail_path(id: post_topic.id) do %>
                  <%= post_topic.title %>
              <% end %>
            </div>
            <div>
              いいね！ <span id="count_goods_<%= post_topic.id %>"><%= post_topic.good_users.count %></span>　|　マイナー！ <span id="count_minors_<%= post_topic.id %>"><%= post_topic.minor_users.count %></span>
            </div>
            <% if logged_in? && post_topic.user.id != current_user.id %>
              <div>
                <span id="good_<%= post_topic.id %>">
                  <%= render partial: "topics/good", locals: {topic: post_topic} %>
                </span>
                <span id="minor_<%= post_topic.id %>">
                  <%= render partial: "topics/minor", locals: {topic: post_topic} %>
                </span>
                <span id="bookmark_<%= post_topic.id %>">
                  <%= render partial: "topics/bookmark", locals: {topic: post_topic} %>
                </span>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
