<!DOCTYPE html>
<html>
  <head>
    <title>レアプロ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div id="flash_messages">
      <%= render partial: "layouts/flash" %>
    </div>

    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent navbar-custom">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3 col-md-2 col-md-offset-1">
            <%= link_to root_path do %>
              <span><%= image_tag "logo.png", class: "navbar-brand" %></span>
            <% end %>
          </div>
          <div>
            <div class="col-xs-4 col-md-1 col-md-offset-5">
              <%= link_to '投稿', new_topic_path, class: 'btn btn-link post-btn' %>
            </div>
            <% if user_signed_in? %>
              <div class="col-xs-4 col-md-1">
                <%= link_to 'マイページ', users_path(id: current_user.id), class: 'btn btn-link' %>
              </div>
              <div class="col-xs-4 col-md-1">
                <%= link_to 'ログアウト', destroy_user_session_path, class: 'btn btn-link', method: :delete, data: {confirm: 'ログアウトしますか？'} %>
              </div>
            <% else %>
              <div class="col-xs-4 col-md-1">
                <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-link' %>
              </div>
              <div class="col-xs-4 col-md-1">
                <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-link' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </nav>

    <%= yield %>

  </body>
</html>
