<!DOCTYPE html>
<html>
  <head>
    <title>マイナープロ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>

    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent navbar-custom">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-md-offset-1">
            <%= link_to root_path do %>
              <span><%= image_tag "logo.png", class: "navbar-brand" %></span>
            <% end %>
          </div>
          <div>
          <div class="col-md-1 col-md-offset-5">
            <%= link_to '投稿', new_topic_path, class: 'btn btn-link post-btn' %>
          </div>
          <% if logged_in? %>
            <div class="col-md-1">
              <%= link_to 'マイページ', users_path(id: current_user.id), class: 'btn btn-link' %>
            </div>
            <div class="col-md-1">
              <%= link_to 'ログアウト', logout_path, class: 'btn btn-link', method: :delete, data: { confirm: 'ログアウトしますか？' } %>
            </div>
          <% else %>
            <div class="col-md-1">
              <%= link_to '新規登録', new_user_path, class: 'btn btn-link' %>
            </div>
            <div class="col-md-1">
              <%= link_to 'ログイン', login_path(login: ''), class: 'btn btn-link' %>
            </div>
          <% end %>
        </div>
      </div>
    </nav>

    <%= yield %>

    <script>
      $(function(){
        $(".alert").fadeOut(1500);
      });
    </script>
  </body>
</html>
